<manifest package="com.yashoid.instacropper"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:allowBackup="true">

        <activity android:name=".InstaCropperActivity"
            android:label="@string/instacropper_title"
            android:theme="@android:style/Theme.DeviceDefault.Light"/>

    </application>

</manifest>
